*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 40px);
}



/* Animations  */

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}

@keyframes in-circle-swoop {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

[transition-style="in:custom:circle-swoop"] {
  --transition__duration: 5s;
  animation-name: in-circle-swoop;
}



/* Navigation */


nav, h3{
  font-family: "Unica One", cursive;
}




.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  background-color: black;
  padding-right: 1em;
  color: white;
  overflow: hidden;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar-links li {
  list-style: none;
}


.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 1.5em;
}

.navbar-links a:hover {
  color: pink;
  font-size: 1.7em;
  transition: all 0.5s ease-in-out;
}

/* Hamburger menu */

.toggle-button {
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}

.toggle-button .bar {
  height: 4.5px;
  width: 100%;
  border-radius: 10px;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media ( max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    font-size: small;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li a {
    padding: .5rem .5rem;
  }

  .navbar-links.active {
    display: flex;
  }
}


/*  Hero Section */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

section#hero {
  align-items: flex-end;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



.btn {
  border: none;
  padding: 1em 2em;
  border-radius: 30px;
  margin-bottom: 3em;
  cursor: pointer;
  font-family: 'Unbounded', cursive;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  letter-spacing: 15px;
  font-size: 1.2em;
}

.listen {
  color: white;
  font-family: 'Unbounded', cursive;
  text-decoration: none;
}
.btn:hover , .btn:active {
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  scale: 1.1;
  transition: all 0.5s ease-in-out;
  border: 5px solid pink;

}

/* About Section */

section#about {
  line-height: 2em;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}

.about-text {
  color: white;
  padding: 2em;
  margin-top: 3em;
  letter-spacing: 2px;
  height: fit-content;
  font-family: 'Unbounded', cursive;
}

.video-bg-about {
  filter: brightness(60%) contrast(10);
}

/* Music */
section#music, section#jellyfish, section#staying{
 display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 2em;
}

section#music, section#staying{
  background-color: black;
}

.set-list{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-family: 'Unbounded', cursive;
}



/* Jelly Fish */

section#jellyfish, section#staying {
  gap: 4em;
}

section#jellyfish > h1, section#staying > h1 {
  color: white;
  font-size: 3em;
  font-family: 'Unbounded', cursive;
  margin-top: 3em;
  text-decoration: underline;
}

.cover-art:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}



@media ( max-width: 500px) {
  .set-list, section#jellyfish > h1{
    font-size: 1.5em;
  }
  }


/* Carousal  */




/* .carousel {
  min-width: 350px;
  height: 55vh;
  margin: 1em;
  position: relative;
}

.carousel >  ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
 position: absolute;
 background: none;
 border: none;
  color: rgba(255,255,255, 0.7);
  font-size: 4rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}



.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
} */