*,
body {
  margin: 0;
}



/* Animations  */

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}



/* Navigation */
.fa-solid {
  display: none;
  color: white;
  width: 50px;
  font-size: 2em;
}

nav {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100px;
  font-family: "Unica One", cursive;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.nav-links a:hover {
  color: lightblue;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.5s ease;
}



/*  Hero Section */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

section, #about {
  align-items: flex-end;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.title {
  color: white;
  margin-top: 1em;
  font-size: 5em;
}

.btn {
  border: none;
  padding: 1em 3em;
  border-radius: 30px;
  margin-bottom: 4em;
  cursor: pointer;
  font-family: 'Unbounded', cursive;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  letter-spacing: 15px;
  font-size: 1.2em;
}

.btn:hover , .btn:active {
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  scale: 1.1;
  transition: all 0.5s ease-in-out;
  border: 5px solid pink;

}





/* Media Queries */

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
