*,
body {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100px;
  font-family: 'Unica One', cursive;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.nav-links a:hover {
  color: lightblue;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.5s ease;
}

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}

.fa-solid {
  color: white;
  width: 50px;
  font-size: 2em;
  display: none;
 }

 @media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .fa-solid {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }

/*  About Area */
#about {
  background-color: black;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.about-vid {
  min-width: 500px;
  height: 500px;

}

.title {
  color: white;
  margin-top: 1em;
  font-size: 5em;
}